<!-- <!DOCTYPE html> -->
<html lang="ja">

<head>
    {{ abs_path("partials/headend.html") | safe }}
</head>

<body>
    {{ abs_path("partials/navbar.html") | safe }}
    <div class="fullheight">
        <div id="your_container">
            <div id="messages_container">
                <div id="chat_header">
                    <p></p>
                </div>
                <div id="messages">
                    {% for chat in chat_list %}
                    {% if user_id == chat["user_id"] %}
                    <div class="message right">
                        <div class="message_box">
                            <div class="message_content">
                                <div class="message_text">{{chat["content"]}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    {% else %}
                    <div class="message left">
                        <div class="message_box">
                            <div class="message_content">
                                <div class="message_text">{{chat["content"]}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div id="send">
                <form action="/chat.html/{{reserve_id}}" method="POST">
                    <input type="text" name="input_message" placeholder="送信">
                    <input type="submit" value="送信">
                </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>