<!-- <!DOCTYPE html> -->
<html lang="ja">
<head>
    {{ abs_path("partials/headend.html") | safe }}
</head>
<body>
    {{ abs_path("partials/navbar.html") | safe }}


    <div class = inner>
            <font size=6>自分へのリクエスト</font>
        </div>
    {% for card in to_me %}
    <div class = "box3">
        <div class="cardMe">
            <p class="datetime">日付 : {{card[1]}}</p>
            <p class="userName">目的 : {{card[4]}}</p>
            <input type="hidden" id="reserve" name="reserve" value={{card[0]}}>
            <input type="hidden" id="my_purpose" name="my_purpose" value={{card[3]}}>
            <input type="hidden" id="your_purpose" name="your_purpose" value={{card[2]}}>
            <div class = inner>
                <input type="submit" class="button" value="承認" formmethod="post">
            </div>
        </div>
    </div>
    {% endfor %}

    <div class = inner>
            <font size=6>マッチング候補</font>
        </div>
    {% for card in candidate %}
    <div class = "box3">
        <div class="cardCandidate">
            <p class="datetime">日付 : {{card[1]}}</p>
            <p class="userName">目的 : {{card[5]}}</p>
            <input type="hidden" id="my_purpose" name="my_purpose" value={{card[6]}}>
            <input type="hidden" id="your_purpose" name="your_purpose" value={{card[0]}}>
            <input type="hidden" id="date" name="date" value={{card[1]}}>
            <input type="submit" class="button2" value="リクエスト" formmethod="post">
        </div>
    </div>
    {% endfor %}
</body>