<!-- <!DOCTYPE html> -->
<html lang="ja">
<head>
    {{ abs_path("partials/headend.html") | safe }}
</head>
<body>
    {{ abs_path("partials/navbar.html") | safe }}
    <div id="green-pink" class="big-bg">
    <div class = inner>
        <font size=6>チャットルーム</font>
    </div>
    {% for room in open_list %}
        <div class = box3>
            <div class="roomCard">
                <p class="datetime">日付と時刻 : {{room[0]}}</p>
                <p class="contentName">目的 : {{room[1]}}</p>
                <div class = inner>
                    <button class="example">
                        <form action="/chat.html/{{room[2]}}">
                            <input type="submit" value="チャットへ">
                        </form>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
    <br></br>
        <div class = inner>
            <font size=6>承認待ちルーム</font>
        </div>
    {% for room in wait_list %}
    <div class = "box3">
        <div class="roomCard">
            <p class="datetime">日付 : {{room[1]}}</p>
            <p class="contentName">目的 : {{room[3]}}</p>
        </div>
    </div>
    {% endfor %}
    <br></br>
        <div class = inner>
            <font size=6>予定一覧</font>
        </div>
    {% for room in my_list %}
    <div class = "box3">
        <div class="roomCard">
            <p class="datetime">日付 : {{room[1]}}</p>
            <p class="contentName">目的 : {{room[3]}}</p>
        </div>
    </div>
    {% endfor %}
    <br></br>
    <div class = inner>
        <a class="button" href="reservation.html">スケジュール登録</a>
        <a class="button" href="match.html">マッチング</a>
    </div>
    </div>
</body>
</html>