html {
  font-size: 100%;
  height: 88%;
}

body {
  line-height: 1.7;
  color: #432;
  height: 88%;
  margin: 0;
}

body a {
  text-decoration: none;
}

body .wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

body .button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

body .button:hover {
  background: #0090aa;
}

body .big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

body #home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c9ffbf), to(#ffafbd));
  background-image: linear-gradient(#c9ffbf, #ffafbd);
  min-height: 100vh;
}

body #home .visibility-hidden {
  visibility: hidden;
}

body #home .home-content {
  text-align: center;
  margin-top: 14%;
}

body #home .home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

body #home .home-content .page-title {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: normal;
}

body .sign-title {
  margin-top: 12%;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: normal;
}

body form div {
  margin-bottom: 14px;
}

body form div label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

body form div input[type="text"],
body form div textarea {
  background: #c8c8c8;
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

body form div input[type="text"] {
  width: 100%;
  max-width: 240px;
}

body form div textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

body form div input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

body #your_container {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body #your_container #messages_container {
  height: 100%;
  width: 100%;
  background-color: #eee;
}

body #your_container #messages_container #chat_header {
  padding: 6px;
  font-size: 16px;
  height: 32px;
  background: #eee;
  border: 1px solid #ccc;
  text-align: center;
}

body #your_container #messages_container #chat_header p {
  font-weight: bold;
  line-height: 0%;
}

body #your_container #messages_container #messages {
  overflow: auto;
  height: 100%;
  background-color: white;
}

body #your_container #messages_container #messages .message {
  margin: 0px;
  padding: 0 14px;
  font-size: 16px;
  word-wrap: break-word;
  white-space: normal;
}

body #your_container #messages_container #messages .left {
  float: left;
  line-height: 1.3em;
}

body #your_container #messages_container #messages .left .message_box {
  color: #333;
  background: gainsboro;
  border: 2px solid gainsboro;
  border-radius: 30px 30px 30px 0px;
  margin-right: 50px;
}

body #your_container #messages_container #messages .right {
  float: right;
  line-height: 1.3em;
}

body #your_container #messages_container #messages .right .message_box {
  color: #fff;
  background: #00aaff;
  border: 2px solid #00aaff;
  border-radius: 30px 30px 0px 30px;
  margin-left: 50px;
}

body #your_container #messages_container #messages .message_box {
  margin-top: 20px;
  max-width: 100%;
  font-size: 16px;
}

body #your_container #messages_container #messages .message_box .message_content {
  padding: 20px;
}

body #your_container #messages_container #messages .clear {
  clear: both;
}

body #your_container #messages_container #send {
  background-color: #eee;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 48px;
  padding: 4px;
}

body #your_container #messages_container #send input[type="text"] {
  width: calc(100% - 75px);
  line-height: 16px;
  height: 48px;
  padding: 14px 6px 0px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #your_container #messages_container #send input[type="submit"] {
  width: 72px;
  height: 48px;
  font-size: 16px;
  line-height: 3em;
  float: right;
  color: #fff;
  font-weight: bold;
  background: #bcbcbc;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #your_container #messages_container #send input[type="submit"]:hover {
  background: #3b82c4;
  cursor: pointer;
}

.fullheight {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */